@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #7f171a;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #7f171a;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #7f171a;
}
.navbar.sticky .menu li a:hover{
    color: white;
}

.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/*Home Section*/
.home{
    display: flex;
    background-image: url(../images/home.jpg);
    background-repeat:  no-repeat;
    background-position:  center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #7f171a;
    font-weight: 500;
}
/*section code*/
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #7f171a;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}
.about,.education ,.skills,.projects, .contact{
    font-family: 'Poppins',sans-serif;
}
.about .about-content, .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*About Section*/

.about .title::after{
    content: "Who i am";
}

.about .about-content .left{
    width: 45%;

}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;

}
.about .about-content .right .text{
font-size: 25px;
font-weight: 600;
margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #7f171a;

}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #7f171a;
    color: white;
    font-size: 20px;
    font-weight:500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #7f171a;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #7f171a;
    background: none;
}


/*Education Section*/
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    background: black;
    color: white;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    
}
.education-row .education-column{
    flex: 1 1 20rem;
    
}

.education .title::before{
    background: white;

}
.education .title::after{
    background: black;
    content: "What i learn";
}

.education-column .education-box{
    border-left: .2rem solid #7f171a;
    
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
    
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #7f171a;
    border-radius: .5rem;
    margin-bottom: 2rem;
    overflow: hidden;
    
    
}

.education-content .content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height:100%;
    background: #7f171a;
    transition: 0.5s;
}

.education-content .content:hover::before{
    width: 100%;
    background: #7f171a;
    opacity: 0.2;

}

.education-box .education-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #7f171a;
    border-radius: 50%;
}

.education-content .content .year{
    font-size: 25px;
    font-weight: 600;
    color: #7f171a;
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right:.5rem ;
    color: #7f171a;
}
.education .education-row .education-column .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    }
.education-content .content h3{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}

.education-content .content p{
       text-align: justify;

}


/*Skills Section */

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: white;
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 30rem;
}
.skills .title::after{
    content: "What i Know";
}
.skills-column .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid #7f171a;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}


.skills-content .progress{
    padding: 0.05rem 0;
}
.skills-content .progress h3{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: #7f171a;
}
.skills-content .progress .bar{
    height: 1.5rem;
    border-radius: .9rem;
    border: .2rem solid #7f171a;
    padding: .2rem;
    margin: 0.2rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .9rem;
    background: #7f171a;
    animation: progress 0.8s ease-in-out forwards;
    opacity: 0;
}
@keyframes progress{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 70%;
    animation-delay: 0.1s;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 60%;
    animation-delay: 0.2s;

}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 60%;
    animation-delay: 0.3s;

}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 60%;
    animation-delay: 0.4s;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 60%;
    animation-delay: 0.5s;

}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
    width: 50%;
    animation-delay: 0.6s;

}
.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span{
    width: 40%;
    animation-delay: 0.7s;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(8) .bar span{
    width: 40%;
    animation-delay: 0.8s;

}

.skills-column:nth-child(1) .skills-content .progress:nth-child(9) .bar span{
    width: 40%;
    animation-delay: 0.9s;

}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 60%;
    animation-delay: 0.1s;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
    animation-delay: 0.2s;

}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
    animation-delay: 0.3s;

}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
    animation-delay: 0.4s;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 80%;
    animation-delay: 0.5s;

}

.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span{
    width: 80%;
    animation-delay: 0.6s;

}
.skills-column:nth-child(2) .skills-content .progress:nth-child(7) .bar span{
    width: 90%;
    animation-delay: 0.7s;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(8) .bar span{
    width: 90%;
    animation-delay: 0.8s;

}

.skills-column:nth-child(2) .skills-content .progress:nth-child(9) .bar span{
    width: 90%;
    animation-delay: 0.9s;

}



.skills-column:nth-child(3) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
    animation-delay: 0.1s;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
    animation-delay: 0.2s;

}

.skills-column:nth-child(3) .skills-content .progress:nth-child(3) .bar span{
    width: 70%;
    animation-delay: 0.3s;

}
.skills-column:nth-child(3) .skills-content .progress:nth-child(4) .bar span{
    width: 90%;
    animation-delay: 0.4s;
}
.skills-column:nth-child(3) .skills-content .progress:nth-child(5) .bar span{
    width: 90%;
    animation-delay: 0.5s;

}

.skills-column:nth-child(3) .skills-content .progress:nth-child(6) .bar span{
    width: 40%;
    animation-delay: 0.6s;
}



.skills-column:nth-child(4) .skills-content .progress:nth-child(1) .bar span{
    width: 60%;
    animation-delay: 0.1s;
}
.skills-column:nth-child(4) .skills-content .progress:nth-child(2) .bar span{
    width: 40%;
    animation-delay: 0.2s;

}

.skills-column:nth-child(4) .skills-content .progress:nth-child(3) .bar span{
    width: 40%;
    animation-delay: 0.3s;

}
.skills-column:nth-child(4) .skills-content .progress:nth-child(4) .bar span{
    width: 70%;
    animation-delay: 0.4s;
}


/*Projects section*/
.projects{
background: black;
color: white;
}
.projects .title::before{
    background: white;

}
.projects .title::after{
    background: black;
    content: "What i create";
}

#portofolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
.work img{
    width: 100%;
    border-radius:10px;
    display: block;
    transition: transform 0.4s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#7f171a);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size:14px ;
    transition: height 0.7s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #7f171a;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #7f171a;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #7f171a;

}


/*Contact section*/

.contact .title::after{
    content:"get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;

}







/*responsive media query start*/

@media(max-width:1300px){
    .home .max-width{
        margin-left: 0px;
    }

}
@media(max-width:1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
      
    }

}
@media(max-width:991px){
    .max-width{
        padding: 0 50px;
    }
    
}
@media(max-width:947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";

    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
         left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .max-width{
        max-width: 800px;
       
    }
    .about .about-content .column{
        width: 100%;

    }
    .about .about-content .left{
display: flex;
justify-content: center;
margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;


    }

}
@media(max-width:690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    
}
@media(max-width:500px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 50px;
    
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    
}


